
:root{
    --titles-color: #fafafa;
    --color: #f7e9e9;
    --font-size: 1rem;
}


.header{
    height: auto;
}

.card-img img{
    width: 100%;
    border-radius:  5px;
}


/* Card info */
.card-info{
    margin: 1em 0;
    color: var(--color);
}

.card-title{
    --font-size: 2rem;
    font-size: var(--font-size);
}

.card-desc{
    --font-size: .9rem;
    font-size: var(--font-size);
    line-height: 1.7;
}

strong{
    color: #f59211;
}


/* Sections title styles */
.sections-title{
    padding: 1em;
    color: var(--color);
}
/* Tab */
.tab{
    background-color: #f59211;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    height: 4rem;

}
.tab-btn{
    background-color: transparent;
    display: block;
    outline: none;
    border: none;
    width: 50%;
    height: 100%;
    color: var(--color);
    font-size: 1.1rem;
    cursor: pointer;
}

.tab-btn:first-child{
    border-right: 1px solid #fff;
}

/* Cards container */


.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    transform: scale(1);
    transition: transform .3s;
}

.tech-title{
    color: var(--color);
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-evenly   ;
    gap: .5em;
    padding: 1.5em 0;
    width: 100%;
}

.tech-img svg{
    width: 3rem;
    margin-bottom: .5em;
}
/* Color to icons */

.cards-front .card:first-child{
    fill: #E34F26;
}

.cards-front .card:nth-child(2){
    fill: #1572B6;
}
.cards-front .card:last-child{
    fill: #F7DF1E;
}

.cards-back .card:first-child{
    fill: #3776AB;
}

.cards-back .card:nth-child(2){
    fill:#339933;
}

/* Card container */
.card{
    background-color: #083052;
    padding: 1em 1em .8em;
    border-radius: 8px;
    text-align: center;
    color: var(--color);
    font-size: .8rem;
    width: 90px;
}

/* Skill section */
.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    padding: 0 0 1em;
    width: 100%;
  }
  
  .skills-container .card{
    padding: 2em 1em 1em;
    border-radius: 5px;
    text-align: center;
    width: 100%;
   
  }
  
  .card-img svg{
    fill: #acfcfc;
    width: 80px;
    height: 80px;
  }
  
  .skills-container .card-title{
    font-size: 1.5rem;
    margin: .5em 0;
  }
  
  .description{
     margin: .5em 0;
  }


  .hidden{
    display: none;
}
@media screen and (min-width: 820px) {
    .about-me{
        display: flex;
        align-items: center;
        gap: 2em;
    }

    .cards-container{
        padding-bottom: 1rem;
    }
}

@media screen and (min-width:1000px) {
    .card-title{
        --font-size: 3rem;
    }
}


